#topPicture {
    padding-left: 97vh;
    padding-bottom: 30px;
     } 
   

  P{
    text-align: center;
    font-family: "Diatype Variable", Icons;
    font-variation-settings: 'slnt' 2, 'MONO' 3;
    padding: 0;
    margin: -22px;
    margin-bottom: 25px;
    line-height: 1.0;
    color: rgb(145, 145, 145);
    font-style: normal;
    font-weight: 500;
    font-size: x-large;
   
}

#collage {
    padding-left: 15%;
    padding-top: 25px;
}